.calltoaction {
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
  padding: 20px;
  background: #8ecae6;
  border-radius: 10px;
  transition: transform 0.2s;
}

.calltoaction:hover {
  transform: scale(1.1);
}

.button {
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px 20px;
  background: #8ecae6;
  transition-property: background;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.button:hover {
  color: azure;
  background: cadetblue;
}

.card {
  width: 200px;
  margin-bottom: 20px;
  padding: 20px;
  background: #8ecae6;
  border-radius: 10px;
}

.card:hover {
  background: cadetblue;
}

.card-title {
  font-size: 20px;
  transition-duration: 0.4s;
}

.card:hover .card-title {
  padding-left: 20px;
}
