.animations {
  .spinner {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 5px solid #8ecae6;
    border-top-color: #023047;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .progress {
    height: 20px;
    background: #8ecae6;
    border-radius: 10px;
    overflow: hidden;
  }

  .progress-inner {
    width: 50px;
    height: 100%;
    background: #023047;
    border-radius: 5px;
    width: 0px;
    height: 50px;
    background: blue;
    animation-name: changeWidth;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes changeWidth {
    0% {
      width: 0%;
    }

    25% {
      width: 25%;
    }

    75% {
      width: 75%;
    }
    50% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}
